#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #fff;
}

h1{
  font-size: 16px;
}

.card{
 max-width: 60%;
 min-width: 40%;

  background: #735bf2;
  color: #fff;

  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
}

